---
layout: default
title: "Ash Smith - Magento Certified Developer, UK"
description: "Certified Magento Developer, providing Magento development services in the UK."
---
<article class="content">
    <div class="intro block-section">
        <h2 class="intro-text">
        Hi there! I'm Ash.<br />
        An experienced <span class="intro-highlight">Magento Developer</span>,<br />
        from Bath, United Kingdom
        </h2>
    </div>

    <div class="about-block">
        <div class="about-image">
            <img src="/images/profile-pic.jpg" />
        </div>
        <div class="about-text">
            <h4 class="about-heading">About me</h4>
            <p>I'm a contract Magento Developer, keen cyclist and apsiring triathlete.
                With over seven years Magento experience, I have a wealth of experience with
                developing Magento stores.</p>
            <p>Interested in working with me? <a href="mailto:hello@ashsmith.io">Drop me a message</a></p>
        </div>
    </div>

    <div class="posts-block">
        <div class="posts-popular">
            <h4>Popular Blog Posts</h4>
            <ul class="posts">
            {% assign popular_posts = site.categories.popular | reverse %}
            {% for post in popular_posts limit:4%}
                <li class="post-item">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="posts-recent">
            <h4>Recent Blog Posts</h4>
            <ul class="posts">
            {% for post in site.posts limit:4 %}
                <li class="post-item">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</article>
