---
layout: default
---

<section role="main">
    <div class="intro block-section">
        <h2 class="intro-text">
        Hello! I'm Ash.<br />
        An experienced <span class="intro-highlight">Magento Developer</span>,<br />
        from Bath, United Kingdom
        </h2>

        <a href="/contact/" class="button button-large button-primary intro-cta">Get in touch</a>

    </div>

    <div class="posts-block row">

        <div class="posts-recent grid-half">
            <h4>Recent Blog Posts</h4>
            <ul class="posts">
            {% for post in site.posts limit:4 %}
                <li class="post-item">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="posts-popular grid-half">
            <h4>Popular Blog Posts</h4>
            <ul class="posts">
            {% assign popular_posts = site.categories.popular | reverse %}
            {% for post in popular_posts limit:4%}
                <li class="post-item">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>

    </div>

</section>
