<header class="header" role="header">
    <div class="mobile-nav">
        <a href="#" class="icon-menu">Navigation</a>
    </div>
    <div class="logo-block">
        <h1 class="logo-heading">
            <a href="/" class="logo">Ash Smith</a>
        </h1>
        <h5 class="oneliner-block">Expert Magento Developer</h5>
    </div>
    <div class="social-block">
        <ul>
            <li class="social-link"><a href="https://twitter.com/ashsmithco" class="social-link-item icon-twitter">Twitter</a></li>
            <li class="social-link"><a href="https://github.com/ashsmith" class="social-link-item icon-github">GitHub</a></li>
            <li class="social-link"><a href="https://stackoverflow.com/users/614535/ash-smith" class="social-link-item icon-stackoverflow">Stack Overflow</a></li>
            <li class="social-link"><a href="https://commercehero.io/ashsmith" class="social-link-item icon-commercerhero">Commerce Hero</a></li>
        </ul>
    </div>
</header>
<div class="cta-block">
    <a href="mailto:hello@ashsmith.io" class="button-contact">Contact Me</a>
</div>
<nav class="categories" role="navigation">
    <h2 class="categories-heading">Blog Topics</h2>
    <ul class="categories-items">
        <li class="categories-item"><a href="/magento2" class="categories-item-link">Magento 2</a></li>
        <li class="categories-item"><a href="/magento1/" class="categories-item-link">Magento 1</a></li>
        <li class="categories-item"><a href="/php/" class="categories-item-link">Modern PHP</a></li>
        <li class="categories-item"><a href="/laravel/" class="categories-item-link">Laravel</a></li>
        <li class="categories-item"><a href="/golang/" class="categories-item-link">Golang</a></li>
        <li class="categories-item"><a href="/docker/" class="categories-item-link">Docker</a></li>
    </ul>
</nav>
