<header class="header">
    <div class="logo-block">
        <a href="/" class="logo">Ash Smith</a>
    </div>
    <nav role="navigation">
        <ul class="nav">
            <li class="nav-item"><a href="/" class="nav-item-link">Home</a></li>
            <li class="nav-item"><a href="/blog/" class="nav-item-link">Blog</a></li>
            <li class="nav-item"><a href="/about/" class="nav-item-link">About</a></li>
            <li class="nav-item"><a href="http://twitter.com/ashsmithco" class="nav-item-link">Twitter</a></li>
            <li class="nav-item"><a href="https://github.com/ashsmith" class="nav-item-link">GitHub</a></li>
            <li class="nav-item"><a href="/contact/" class="nav-item-link button button-primary">Contact</a></li>
        </ul>
    </nav>
</header>
