defaults:
  GITHUB_USERNAME: 'ashsmith'
  BUILD_PROJECT: 'ashsmithio'
  BUILD_DEV_PROJECT: 'ashsmithio-dev'
  GITHUB_ACCESS_TOKEN: 'YOUR-ACCESS-TOKEN'
  GITHUB_REPOSITORY: 'https://github.com/ashsmith/ashsmithio'
