legend {
    border-bottom: 1px solid $dark-grey;
    width: 100%;
    margin: 0 0 1em;
}
.form-item {
    color: $body-text;
    
    label {
        display: block;
    }

    input, textarea {
        border: 1px solid $body-text;
        width: 100%;
        margin-bottom: 1em;
    }
}

.form-hidden {
    display: none;
}
