.header {
    overflow: hidden;
    border-bottom: 1px solid $light-grey;
    width: 100%;
}

.logo {
    font-size: 2.5em;
    color: $primary-colour;
    font-family: $primary-font;
    text-decoration: none;
    font-weight: 200;
    line-height: 1.5em;
    text-align: center;
    display: block;
    &:hover, &:focus {
        color: darken($primary-colour, 10%);
    }
}

@media screen and (min-width: $large-breakpoint) {
    .logo-block {
        float: left;
    }
}

.nav {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
    overflow: hidden;
}
@media screen and (min-width: $large-breakpoint) {
    .nav {
        float: right;
    }
    .nav-item {
        float: left;
    }
}

.nav-item-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: $body-text;
}
