.icon-menu {
    mask-image: url('/images/icons/nav.svg');
    background-color: white;
}
.icon-commercerhero {
    background-image: url('/images/social-icons/commercehero@2x.png');
}
.icon-twitter {
    text-indent: 100em;
    background-image: url('/images/social-icons/twitter@2x.png');
}
.icon-github {
    text-indent: 100em;
    background-image: url('/images/social-icons/github@2x.png');
}
.icon-stackoverflow {
    text-indent: 100em;
    background-image: url('/images/social-icons/stackoverflow@2x.png');
}
.icon-stackoverflow, .icon-github, .icon-twitter, .icon-commercerhero, .icon-menu {
    text-indent: -100em;
    background-repeat: no-repeat;
    background-size: 100%;
}
