* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

a {
    color: $primary-color;
}

.header {
    display: flex;
    align-items: center;
    @media screen and (min-width: 68rem) {
        display: block;
    }

    .mobile-nav, .social-block {
        flex: 1;
    }

    .logo-block {
        flex: 2;
    }

    .oneliner-block {
        display: none;
        @include respond-to("large") {
            display: block;
        }
    }

}
.categories, .cta-block {
    display: none;
    @include respond-to("large") {
        display: block;
    }
}


.aside > *, .main > .post > * {
    padding: $vertical-height*2 $vertical-height*2 0;
}
.main > .post > *, .main > .content > * {
    padding: 0 $vertical-height;
    @include respond-to("large") {
        padding: 0 $vertical-height*4 0;
        max-width: 50rem;
    }
}

.content, .post {
    ul {
        margin: $vertical-height;
        @include respond-to("large") {
            margin: inherit;
        }
    }
}

@include respond-to("large") {
    .mobile-nav {
        display: none;
    }

    // Flexbox layout for large screens
    .wrapper {
        display: flex;
        min-height: 100vh;
        .aside {
            flex: 0 0 18.75rem;
        }
        .main {
            flex: 1 1 auto;
        }
    }
}
