* {
    box-sizing: border-box;
}
.wrapper {
    margin: 0 2em;
}

@media screen and (min-width: 48em) {
    .wrapper {
        width: 48em;
        margin: 0 auto;
    }

    .row {
        overflow:hidden;
        clear: both;
        margin: 1em 0;
    }

    .grid-half {
        width: 50%;
        float: left;
        padding: 0 2em;
    }

    .grid-half:first-child {
        border-right: 1px solid $light-grey;
    }
}

.col-80 {
    width: 80%;
}


.centered {
    margin: 0 auto;
}
