body {
    font-size: 15px;
    font-family: $default-font-family;
}

.logo-heading, .oneliner-block {
    font-weight: 300;
    text-align: center;
}
.logo-heading {
    margin: 0;
    font-size: $default-font-size;
    @include respond-to("large") {
        font-size: 40px;
    }
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
.post {
    h1,h2,h3,h4,h5 {
        line-height: 1.7em;
    }
}
