body {
    font-family: $primary-font;
}

.light-text {
    font-weight: 200;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-weight:600;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.1em;
}

a {
    color: $body-text;
    text-decoration: none;
    &:hover,
    &:focus {
        color: black;
    }
}

.leading-text {
    font-weight: 200;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
}

p code {
    background-color: #F4f4f4;
    padding: 2px 5px;
}
