$default-font-size: 16px;
$default-font: "Open Sans";
$default-font-family: $default-font, sans-serif;
$primary-color: #008CB2;

$vertical-height: 15px;

$breakpoints: (
  large: 68em
);

@mixin respond-to($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unknown #{$breakpoint} in $breakpoints";
  }
}
