.categories {
    list-style: none;
    margin: 3em auto;
    padding: 0;
    width: 80%;
    overflow: hidden;
    .category {
        float: left;
        margin: 0 1em;
        width: 25%;
    }
}
