.intro-text {
    font-weight: 200;
    font-size: 2.5em;
    .intro-highlight {
        color: $primary-colour;
    }

}

.intro-cta {
    width: 100%;
}

@media screen and (min-width: 48em) {
    .intro-cta {
        width: 22rem;
    }
}

.posts-block {
    margin: 3em 0;
}

.posts {
    margin: 0;
    padding: 0;
    list-style: none;
    .post-item {
        display: block;
    }
}

.post-link {
    margin: 1em 0;
    display: block;
    line-height: 2em;
}
