.intro-text {
    // text-align: center;
    font-weight: 300;
    font-size: 2.5em;
}


.about-block {
    display: flex;

    .about-image {
        padding: $vertical-height;
        img {
            max-width: 100%;
            border-radius: $vertical-height;
        }
    }

    .about-text {
        max-width: 1400px;
        padding: $vertical-height;
        p {
            margin-bottom: 0;
        }
    }
    .about-heading {
        margin: 0;
    }
}

.post-link {
    line-height: 1.7rem;
}
